form {
   border: 3px solid #ccc;
   padding: 10px 20px 25px 20px;
   border-radius: 10px;
}

.form-group {
   margin: 20px 0px;
}

/* .form-label.capitalize {
   text-transform: capitalize;
}

.form-label {
   float: left;
   width: 50%;
}

.form-input {
   margin-bottom: 55px;
}

.p-1 {
   margin-top: 100px;
} */


/* Radio Buttons */
input[type=radio] {
   margin-right: 5px;
}

.radio-group {
   display: inline-flex;
   justify-content: space-between;
   width: 100%;
   float: left;
   margin-bottom: 55px;
}


/* Checkboxes */
input[type=checkbox] {
   margin-right: 5px;
}

.checkbox-group {
   display: inline-flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
   float: left;
   margin-bottom: 55px;
} 


/* Submit Buttons */
.btn {
   color: black;
   background-color: #eaf6ff;
   border: 1px solid #cccccc;
}