body {
    padding-bottom: 80px;
    margin: 0 auto;
    /* background-image: url("../../assets/images/food_bkgd_1300x900px.jpg"); */
    background-repeat: no-repeat;
    background-position: top;
    background-color: #eaf6ff;
    width: 100%;
    /* height: 100%; */
}