/* HTML elements */
body {
    padding-bottom: 80px;
    width: 900px;
    margin: 0 auto;
}

h6 {
    margin: 55px 0px 0px;
    width: 100%;
}


/* Form */
form {
    border: 3px solid #ccc;
    padding: 10px 20px 25px 20px;
    border-radius: 10px;
}

.form-label.capitalize {
    text-transform: capitalize;
}

.form-label {
    float: left;
    width: 50%;
}

/* Buttons */
input[type=submit]
.btn-link {
    margin-top: 20px;
    width: 15%;
}


/* Radio Buttons */
/* input[type=radio] {
    margin-right: 5px;
} */

.radio-group {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* Checkboxes */
input[type=checkbox] {
    margin-right: 5px;
}

.checkbox-group {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    float: left;
} 